@import '../../style/color.scss';

.BudgetPanel {
    width: 35rem;
    padding: 1.2rem;
    text-transform: uppercase;
    font-size: 1.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__category {
        color: $color-grey-font-dark;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--value {
            letter-spacing: 1px;
        }

        &--percentage {
            width: 3.4rem;
            padding: 3px 0;
            margin-left: 1rem;
        }
    }
}

.Panel__income {
    background-color: $color-blue-income;
    margin-bottom: 1rem;
}

.Panel__expenses {
    background-color: $color-red-expenses;
}

.transparentPanel {
    background-color: $color-transparent-text;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 3px;
}