@import './style/color.scss';
@import './style/mixins.scss';

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url('/images/back.png');
    background-size: cover;
    background-position: center;
    color: white;
    @include flexColumn();
}

.form {
    padding: 1.4rem;
    border-bottom: 1px solid $color-grey-border;
    background-color: $color-grey-background;
}